.circular {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background: white;
    position: relative;
}
.circular__slider{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    display: block;
    background-image: conic-gradient(red 0deg, #eee 0);
    z-index: 1;
}

.circular .circular__slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: initial;
    height: initial;
    padding-bottom: 0;
}
.circular__slider:after{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 50%;
    z-index: -1;
}
.circular__handler{
    position: absolute;
    top: -15px;
    width: 30px;
    left: calc(50% - 15px);
    height: 30px;
    background: white;
    border-radius: 50%;
    border: solid 2px #ddd;
    cursor: pointer;
}
.circular__marker{
    position: absolute;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, transparent 0%, transparent 50%, white 50%, white 100%);
    left: calc(50% - 1px);
    top: 0;
    transform: rotate(35deg);
    z-index: -1
}
.circular__marker.main{
    background: linear-gradient(to top, transparent 0%, transparent 50%, black 50%, black 100%);
    height: calc(100% + 10px);
    top: -5px;

}
